* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

hr {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 1%;
}

.navbar a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-size: 14px;
}

.page-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 2% 16%;
}

.page-1 h1 {
  color: #c3c3c3;
  font-weight: 100;
  line-height: 60px;
}

.page-1 img {
  width: auto;
  height: auto;
}

.text-page-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  line-height: 50px;
  font-size: 2.4em;
}

.page-2 {
  margin-top: 13%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1px;
  padding: 3% 10%;
  background-color: #fbfbfb;
}

.page-2-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.page-2-texts h1 {
  font-size: 4em;
  font-weight: 50;
}

.page-2-texts p {
  font-size: 1.2em;
  width: 100%;
}

.page-2-texts button {
  align-self: center;
  background-color: rgb(246, 246, 246);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 10;
  letter-spacing: 4px;
  cursor: pointer;
  margin-top: 50px;
  padding: 20px 20px;
  font-weight: 100;
}

.page-2-texts button:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.2s ease-in-out;
}

.page-2-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  cursor: pointer;
}

.middle-image {
  grid-column: 2;
  grid-row: 1 / span 2;
  margin-top: 50px;
  margin-right: 200px;
}

.page-3 {
  margin-top: 7%;
}

.primary-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  font-size: 2em;
}

.primary-h1 h1 {
  font-weight: 100;
}

.secundary-page-3-texts {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}

.secundary-page-3-texts h1 {
  font-size: 8em;
  color: rgba(0, 0, 0, 0.093);
}

.secundary-page-3-texts p {
  width: 25%;
  word-spacing: 10px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto 250px 250px;
  padding: 5%;
  gap: 4px;
}

.container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img1 {
  grid-column: span 3;
  height: 400px;
}

.img2 {
  grid-column: span 3;
  height: 400px;
}

.img3 {
  grid-column: span 2;
  height: 200px;
}

.img4 {
  grid-column: span 2;
  height: 200px;
}

.img5 {
  grid-column: span 2;
  height: 200px;
}

.page-4 h1 {
  margin-top: 10%;
  padding: 0 5%;
  font-size: 4em;
  font-weight: 100;
}

.text-inside-image {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-top: 6%;
  font-size: 2em;
  color: white;
}

.container-2-btn {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 100;
  padding: 15px 1px;
  margin-top: 1px;
}

.text-inside-image button:hover {
  background-color: rgba(235, 235, 235, 0.185);
  transition: 0.3s ease-in-out;
}

.contato {
  margin-bottom: 100px;
  padding: 0 5%;
}

.contato h2 {
  font-size: 64px;
  font-weight: 300;
  color: #979797;
  margin-bottom: 40px;
}

.contato-corpo {
  display: flex;
  gap: 40px;
}

form {
  width: 40%;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  resize: none;
}

textarea {
  height: 200px;
}

.btn-enviar {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 20px 45px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-enviar:hover {
  background-color: #444444;
  color: white;
  transition: 0.2s ease-in-out;
}

.contato-img {
  width: 60%;
}

.contato-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 60px 0 30px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.coluna h4 {
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.coluna ul {
  list-style: none;
}

.coluna ul li {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ccc;
}

.coluna-img {
  margin-left: 5%;
}

.coluna-img img {
  width: 200%;
  height: auto;
  color: white;
}

.redes-sociais a {
  color: white;
  margin-right: 25px;
  font-size: 20px;
}

.fim {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
}

.limpar {
  clear: both;
}

@media screen and (max-width: 478px) {
  hr {
    display: block;
  }

  .navbar {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 37px;
    padding: 5%;
  }

  .sidebar li {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .sidebar a {
    text-decoration: none;
    color: black;
    display: none;
  }

  .sidebar-buttons button {
    font-size: 1.5em;
    border: none;
    background-color: transparent;
  }

  .page-1 {
    display: flex;
    flex-direction: column;
  }

  .page-1 .text-page-1 {
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    height: 60vh;
    z-index: 999;
  }

  .page-1 img {
    display: none;
  }

  .page-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }

  .page-2 .page-2-texts {
    font-size: 13px;
    width: 90%;
    text-align: center;
  }

  .page-2-texts h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .page-2-texts hr {
    width: 120%;
  }

  .top-image {
    display: none;
  }

  .page-2 .middle-image {
    display: none;
  }

  .page-2 .bottom-image {
    display: none;
  }

  .page-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-3 .primary-h1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 200px;
  }

  .page-3 .secundary-page-3-texts {
    display: flex;
    flex-direction: column;
  }

  .page-3 .secundary-page-3-texts h1 {
    line-height: 20px;
  }

  .page-3 .secundary-page-3-texts p {
    width: 90%;
    font-size: 1.2em;
    text-align: center;
  }
  .page-4 > * {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
  }

  .page-4 img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .img3 img {
    width: 10%;
  }

  .text-inside-image {
    position: relative;
    color: black;
    line-height: 10vh;
  }

  .text-inside-image h2 {
    font-weight: 200;
  }

  .text-inside-image button {
    display: none;
  }
}
